@import './../settings/mixins.settings.scss';
@import './../settings/variables.settings.scss';

.footer {
  margin-bottom: px-to-rem(100);
  display: flex;
  height: px-to-rem(125);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(1) {
      width: 45%;
      flex: 45%;
    }

    &:nth-child(2) {
      align-items: flex-end;
      width: 55%;
      flex: 55%;
    }
  }

  &__logo {
    width: px-to-rem(117);
    height: px-to-rem(43);
  }

  &__info {
    margin: px-to-rem(0);
    font-size: px-to-rem(14);
    color: map-get($colors, 'primary');
  }

  &__menu {
    padding: px-to-rem(0);
    margin: px-to-rem(0);
    display: flex;
    list-style: none;

    &__item {
      margin-left: px-to-rem(35);
      font-size: px-to-rem(16);
      font-weight: 700;
      color: map-get($colors, 'primary');
      text-decoration: none;
      transition: color 250ms;

      &:hover {
        color: map-get($colors, 'secondary');
      }
    }
  }

  &__social {
    display: flex;

    img {
      margin-left: px-to-rem(25);
      width: px-to-rem(31);
    }
  }
}