@import './../settings/mixins.settings.scss';
@import './../settings/variables.settings.scss';

.about-us-section {
  height: 100vh;
  display: flex;
  align-items: center;

  @media only screen and (max-width: #{map-get($responsive, 'mobile-large')}) {
    height: initial;
    flex-wrap: wrap;
  }

  &__content {
    padding-right: px-to-rem(100);
    flex: 45%;
    width: 45%;

    @media only screen and (max-width: #{map-get($responsive, 'mobile-large')}) {
      margin-bottom: px-to-rem(100);
      padding-right: 0px;
      flex: 100%;
      width: 100%;
    }

    &__title {
      margin: 0px 0px px-to-rem(30) 0px;
      font-size: px-to-rem(46);
      font-weight: 600;
      color: map-get($colors, 'primary');
    }

    &__subtitle {
      margin: 0px 0px px-to-rem(30) 0px;
      font-size: px-to-rem(22);
      font-weight: 500;
      color: map-get($colors, 'secondary');
    }

    &__text {
      margin: 0px 0px px-to-rem(30) 0px;
      font-size: px-to-rem(20);
      font-weight: 500;
      color: map-get($colors, 'primary');
    }
  }

  &__image-wrapper {
    flex: 55%;
    width: 55%;

    @media only screen and (max-width: #{map-get($responsive, 'mobile-large')}) {
      margin-bottom: px-to-rem(100);
      flex: 100%;
      width: 100%;
    }
  }

  &__image {
    width: 100%;
  }
}