.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  background: map-get($colors, 'background') !important;

  &-active {
    background: map-get($colors, 'primary') !important;
  }
}