@use 'sass:math';

@function px-to-rem($size, $default: 16) {
  @return #{math.div($size, $default)}rem;
}

@mixin button($color) {
  color: $color;
  border: 2px solid $color;
  background: none;
  box-shadow: 3px 3px 0px 0px $color;
  transform: translate(-3px, -3px);
  transition: box-shadow 250ms, transform 250ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 0px 0px $color;
    transform: translate(0px, 0px);
  }
}